* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Outfit', sans-serif; */
}

*,
::after,
::before {
    box-sizing: border-box;
}

/* Css Variable  */

:root {
    --primary-color: #033F47;
    --white-color: #FFFFFF;
    --font-outfit: 'Outfit', sans-serif;
    --sec-color: #E0F780;
}


/* Header Style  */

.header {
    background-color: var(--primary-color);
    padding: 24px 96px;
}

.navber {
    display: flex;
    justify-content: space-between;
}

.navber-content {
    display: flex;
    align-items: center;
}

.special-nav ul {
    position: relative;
    list-style: none;
}

.special-nav ul li a {
    display: block;
}

.navber-content ul {
    display: flex;
    align-items: center;
    gap: 48px;
}

.navber-content .navber-list {
    list-style: none;
    color: var(--white-color);
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.navber-content .navber-list:hover {
    color: var(--sec-color);
}

.navber-number {
    background-color: var(--white-color);
    padding: 8px 16px 8px 8px;
    border-radius: 50px;
    display: flex;
    gap: 8px;
}

.navber-number {
    font-family: 'Outfit', sans-serif;
}


/* Homepage style  */

.home-page {
    position: relative;
}

.home-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/primary-bg.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px 0;
}

.home-page-content {
    width: 816px;
    position: relative;
}

.home-page-title {
    font-size: 76px;
    font-weight: 600;
    font-family: var(--font-outfit);
    margin-bottom: 16px;
    color: var(--white-color);
}

span {
    position: relative;
}

span img {
    position: absolute;
    bottom: -15px;
    right: 0;
}

.home-page-article {
    font-size: 20px;
    font-weight: 400;
    width: 636px;
    margin-bottom: 48px;
    color: var(--white-color);
}

.home-page-btn {
    display: flex;
    gap: 16px;
    align-items: center;
}

.btn-primary {
    font-size: 18px;
    padding: 16px 32px;
    background-color: var(--sec-color);
    color: #080F10;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid var(--sec-color);
    transition: 0.5s;
}

.btn-sec {
    font-size: 18px;
    padding: 16px 32px;
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid var(--white-color);
    transition: 0.5s;
}

.btn-primary:hover {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid var(--white-color);
}

.btn-sec:hover {
    background-color: var(--sec-color);
    color: #080F10;
    border: 2px solid var(--sec-color);
}

.home-page-img img {
    width: 486px;
    margin-bottom: 72px;
}

.home-page-animation-1 {
    position: absolute;
    /* border: 2px solid #ffffff; */
    height: 150px;
    top: 104px;
    right: 718px;
    animation: moveUpDown 3s linear infinite;
}

.home-page-animation-2 {
    position: absolute;
    right: 251px;
    bottom: 125px;
    height: 150px;
    /* border: 2px solid #ffffff; */
    animation: moveUpDown-1 3s linear infinite;
}

.underline {
    position: absolute;
    top: 234px;
    left: 768px;
}

/* dropdown  */


.dropdown {
    position: absolute;
    z-index: 999;
    top: 65px;
    width: 300px;
    margin-left: -10px;
    display: none;
    transition: 0.8;
    padding: 40px 0;
}

.dropdown ul {
    display: block;
    z-index: 999;
    background-color: var(--white-color);
    list-style: none;
    width: 200px;
    border-top: 2px solid var(--sec-color);
    padding: 10px;
}

.dropdown ul li {
    border-bottom: 1px solid lightgray;
    transition: all 0.8s;

}

.dropdown ul li a {
    color: gray;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px 10px 10px;
    transition: all 0.8s;

}

.dropdown ul li:hover {
    background-color: var(--sec-color);
    transform: rotate(-0.01turn);

}

.dropdown ul li a:hover {
    color: #000;
    border: 0;
    box-shadow: 10px 1px 20px gray;
}

.dropdown-menu:hover .dropdown {
    display: block;
}

.scrolDown {
    position: absolute;
    left: 46.5%;
    bottom: -90px;
}


/* Team Section Style Start  */
.team-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 100px;
}

.team-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
}

.team-img {
    position: relative;
}

.img-width {
    max-width: 636px;
    overflow: hidden;
}

.animation-img {
    position: absolute;
    top: -60px;
    left: -60px;
    animation: moveUpDown2 3s linear infinite;
}

.team-img .img-width {
    transition: 0.8s;
    transform: scale(1);
}

.team-img .img-width img {
    transition: all 0.5s;

}

.img-width img:hover {
    transform: scale(1.03);
    transition: 0.5s;
}


.team-title {
    font-size: 58px;
    color: #080F10;
    letter-spacing: 1.14px;
    font-weight: 600;
    margin-bottom: 16px;
    font-family: var(--font-outfit);
    letter-spacing: 1px;
}

.team-title span {
    position: relative;
}

.team-title span img {
    position: absolute;
    bottom: -12px;
}

.team-article {
    font-size: 18px;
    color: #575959;
    margin-bottom: 16px;
}

.team-sub-content {
    display: flex;
    justify-content: start;
    gap: 32px;
    margin-bottom: 48px;
}

.team-sub-content-title {
    font-size: 42px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: var(--font-outfit);
    margin-bottom: 8px;
}

.team-sub-content-p {
    font-size: 18px;
    color: #080F10;
}

.primary-btn a {
    font-size: 18px;
    padding: 16px 32px;
    background-color: var(--sec-color);
    color: #080F10;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid var(--sec-color);
    transition: 0.5s;
    display: inline-block;
}

.primary-btn a:hover {
    background-color: #000;
    color: #FFFFFF;
    border: 2px solid #000;
}

.animation-img-2 {
    position: absolute;
    bottom: -60px;
    right: -60px;
    animation: moveUpDown3 3s linear infinite;
}

.team-content ul {
    list-style: none;
    margin: 48px 0;
}

.team-content ul li {
    font-size: 20px;
    color: #080F10;
    margin-bottom: 16px;

}

.team-content ul li i {
    background-color: var(--sec-color);
    padding: 8px;
    border-radius: 50%;
    margin-right: 16px;
}

/* Service Section Start */

.service-container {
    background-image: url(images/bg.png);
    padding: 120px 0;
    background-repeat: no-repeat;
    background-position: center;
}

.service-title {
    color: #ffffff;
    font-size: 56px;
    font-weight: 600;
    text-align: center;
    font-family: var(--font-outfit);
    margin-bottom: 16px;
}

.service-article {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}
.service-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}
.service-content {
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.service-content-img {
    width: 90px;
    height: 90px;
    text-align: center;
    margin-bottom: 24px;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 50%;
}

.service-content-title {
    font-size: 24px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 24px;
    font-family: var(--font-outfit);
}

.service-content-article {
    color: #575959;
    font-size: 16px;
}
/* Service Section End */
/* Team Section Style End  */
/* Animation Start */

@keyframes moveUpDown {
    0% {
        top: 120px;
        right: 718px;
    }

    /* 25% {
        top: 135px;
        right: 718px;
    } */

    50% {
        top: 150px;
        right: 718px;
    }

    /* 75% {
        top: 135px;
        right: 718px;
    } */

    100% {
        top: 120px;
        right: 718px;
    }
}

@keyframes moveUpDown2 {
    0% {
        top: -70px
    }

    50% {
        top: -50px;
    }

    100% {
        top: -70px
    }
}

@keyframes moveUpDown3 {
    0% {
        bottom: -60px;

    }


    50% {
        bottom: -45px;
    }


    100% {
        bottom: -60px;
    }
}

@keyframes moveUpDown-1 {
    0% {
        bottom: 125px;

    }


    50% {
        bottom: 150px;
    }


    100% {
        bottom: 125px;
    }
}

/* Animation End */